---
layout: base
---

<div class="posts">
    {% assign index_pages = site.pages | where: "name", "index.md" %}
    {% assign sorted_pages = index_pages | sort: "path" | reverse %}
    
    <h3>Total index pages: {{ index_pages | size }}</h3>
    
    {% for page in sorted_pages limit: 10 %}
        <div class="post-preview">
        <h2><a href="./{{ page.url }}">{{ page.dir | remove: '/' }}</a></h2>
        <div class="post-content">
            {{ page.content  | markdownify }}
        </div>
        </div>
    {% endfor %}
</div>
    