---
layout: base
---

<div class="posts">
    {% assign index_pages = site.pages | where: "name", "index.md" %}
    {% assign sorted_pages = index_pages | sort: "path" | reverse %}
    {% assign current_page_url = page.url %}
    {% assign filtered_pages = sorted_pages | where_exp: "item", "item.url != current_page_url" %}
    
    <h3>Total index pages: {{ index_pages | size }}</h3>
    
    {% for page in filtered_pages limit: 10 %}
        <div class="post-preview">
            <h2><a href="./{{ page.url }}">{{ page.dir | remove: '/' }}</a></h2>
            <div class="post-content">
                <iframe src="./{{ page.url }}" width="100%" height="700" frameborder="0"></iframe>
            </div>
        </div>
    {% endfor %}
</div>
